.pagination {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  margin-top: 1.5rem;

  button {
    cursor: pointer;
    padding: 0.4rem 0.8rem;
    font-size: 1rem;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
